1+1

In [2]:
x=1

test 1

In [9]:
#test1

In [4]:
import pandas as pd

In [5]:
df=pd.informe1_csv('informe-ppto-ano.csv')

AttributeError: module 'pandas' has no attribute 'informe1_csv'

In [6]:
df=pd.read_csv('informe-ppto-ano.csv')

In [7]:
df.head()

,ORGANIZACION,DESC_ORGANIZACION,ESTADO,SALDO_INICIAL,ABONOS_CR,INGRESOS_CAJA,PRESUPUESTO_REITEM,SUPLEMENTOS,TRASP_PPTO_Y_DISPONIBILIDADES,TRASPASOS_SERVICIO,GASTO,ING_TOTAL,RETIRO_SALDOS,SALDO
0,AC10FO,VIT FORA ACA,ACTIVA,13064749,0,0,0,0,0,0,0.0,0,0,13064749
1,AC10GE,VIT GESTION ACA,ACTIVA,0,0,0,20484000,0,-31950,-1332492,-15017742.0,0,0,4101816
2,AC10I1,VIT INGRESOS ING AVIACION COMERCIAL,ACTIVA,0,0,219573824,0,0,0,0,-55327880.0,219573824,0,164245944
3,AC10I2,VIT INGRESOS TU MANT AERONAUTICO,ACTIVA,0,0,150818557,0,0,0,0,-43335609.0,150818557,0,107482948
4,AC10I3,VIT INGRESOS PILOTO COMERCIAL,ACTIVA,0,0,29725917,0,0,0,0,-3805980.0,29725917,0,25919937

 <a href=https://www.cognitiveclass.ai>Cognitive Class</a>

#header 1

# Header 1

# header 2

emphasis with *asterisco* or _underscores_.

tachar es con ~~colita~~

use of **negrita**

1. one seventy seven
2. eleven two
..* another type
3. test 3
* under
...parrafos..
..- minuses
+ pluses

[I'm an inline-style link with title](https://www.google.com "Google's Homepage") revisar link en marcadores de google (github)

Here's a line for us to start with.

This line is separated from the one above by two newlines, so it will be a *separate paragraph*.

# Hi there

<h1>Hi there</h1>